!!!
%html
  %head
    %title Vegeta Load Test Frontend
    %link(rel="stylesheet" href="css/styles.css")
  %body
    %h1 Vegeta Load Test - Testing parameters
    %p
      %form{:method => 'post', :enctype => 'multipart/form-data'}
        %br/
        %table{:align => 'center'}
          %tr{:align => 'left'}
            %td Choose targets file*:
            %td
              %input{:type => 'file', :name => 'file'}
          %tr{:align => 'left'}
            %td One or more comma separated requests per second:
            %td
              %input{:type => 'text', :name => 'rates'}
          %tr{:align => 'left'}
            %td Duration of the test on every rate:
            %td
              %input{:type => 'text', :name => 'duration', :value => '10s'}
          %tr{:align => 'left'}
            %td Attack ordering (sequential, random):
            %td
              %input{:type => 'text', :name => 'ordering', :value => 'random'}
          %tr{:align => 'left'}
            %td Number of redirects to follow:
            %td
              %input{:type => 'text', :name => 'redirects', :value => '10'}
          %tr{:align => 'left'}
            %td Requests timeout:
            %td
              %input{:type => 'text', :name => 'timeout', :value => '0'}
          %tr
            %td{:colspan => '2'}
              %br/
              %input{:type => 'submit', :value => 'Start', :style => 'height: 40px; width: 150px'}
          %tr{:align => 'left'}
            %td{:colspan => '2'}
              %br/
              * Each line in file should resemble this one:
              %em GET http://www.example.com/
              %br/
              Read more at:
              %a{:href =>  'https://github.com/almir/vegeta#-targets', :target => '_blank'} https://github.com/almir/vegeta
